.mainDiv {
  margin-top: 10vh;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.secondDiv {
  margin-top: 1vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
